* {
    margin: 0;
    padding: 0;
}
/* to remove the top and left whitespace */
html, body {
    width: 100%;
    height: 100%;
}
/* just to be sure these are full screen*/
#canvas {
    display: block;
}

#instructions {
    position: absolute;
    right: 10px;
    top: 10px;
    float: right;
    font-family: monospace;
    font-size: 12px;
    background: rgba(100, 100, 100, 0.1);
    padding: 5px;
}
